In [14]:
from imdb import Cinemagoer
import pandas as pd

# create an instance of the Cinemagoer class
ia = Cinemagoer()
ia.get_movie_infoset()

['airing',
 'akas',
 'alternate versions',
 'awards',
 'connections',
 'crazy credits',
 'critic reviews',
 'episodes',
 'external reviews',
 'external sites',
 'faqs',
 'full credits',
 'goofs',
 'keywords',
 'list',
 'locations',
 'main',
 'misc sites',
 'news',
 'official sites',
 'parents guide',
 'photo sites',
 'plot',
 'quotes',
 'recommendations',
 'release dates',
 'release info',
 'reviews',
 'sound clips',
 'soundtrack',
 'synopsis',
 'taglines',
 'technical',
 'trivia',
 'tv schedule',
 'video clips',
 'vote details']

In [10]:
# Read 'data/What_We_Watched_A_Netflix_Engagement_Report_2023Jan-Jun.xlsx' into a DataFrame: netflix
netflix = pd.read_excel('data/What_We_Watched_A_Netflix_Engagement_Report_2023Jan-Jun.xlsx', header=5, usecols='B:E')
netflix.head()

,Title,Available Globally?,Release Date,Hours Viewed
0,The Night Agent: Season 1,Yes,2023-03-23,812100000
1,Ginny & Georgia: Season 2,Yes,2023-01-05,665100000
2,The Glory: Season 1 // 더 글로리: 시즌 1,Yes,2022-12-30,622800000
3,Wednesday: Season 1,Yes,2022-11-23,507700000
4,Queen Charlotte: A Bridgerton Story,Yes,2023-05-04,503000000

In [11]:
# Create a list of titles from the netflix DataFrame: titles
titles = netflix['Title'].tolist()

In [17]:
movie_ids = []

for title in titles[:10]:
    movie_search = ia.search_movie(title)[0]
    movie_id = movie_search.movieID
    movie_ids += [movie_id]

In [13]:
movies

[<Movie id:13918776[http] title:_"The Night Agent" (2023)_>,
 <Movie id:10813940[http] title:_"Ginny & Georgia" (2021)_>,
 <Movie id:29209851[http] title:_Do You Leak the Glory? (Season 3, EP. 26) (2021)_>,
 <Movie id:26465870[http] title:_EP 63: Wednesday Season 1 (2023)_>,
 <Movie id:14661396[http] title:_"Queen Charlotte: A Bridgerton Story" (2023) (mini)_>,
 <Movie id:15352974[http] title:_Seal Team: Season 4 - If You Build It (2021) (V)_>,
 <Movie id:1704637[http] title:_"La Reina del Sur" (2011)_>,
 <Movie id:28722164[http] title:_Outer Banks (Season 3) (2023)_>,
 <Movie id:10813940[http] title:_"Ginny & Georgia" (2021)_>,
 <Movie id:28056797[http] title:_SISO, War of the Dead, and Ep 1 Season 1 FUBAR (2023)_>]

In [4]:
for key in movie.keys():
    print(key, ':', movie[key])
    print()

title : The Untouchables

year : 1987

kind : movie

cover url : https://m.media-amazon.com/images/M/MV5BYTVjYWJmMWQtYWU4Ni00MWY3LWI2YmMtNTI5MDE0MWVmMmEzL2ltYWdlXkEyXkFqcGdeQXVyMTQxNzMzNDI@._V1_QL75_UX50_CR0,2,50,74_.jpg

canonical title : Untouchables, The

long imdb title : The Untouchables (1987)

long imdb canonical title : Untouchables, The (1987)

smart canonical title : Untouchables, The

smart long imdb canonical title : Untouchables, The (1987)

full-size cover url : https://m.media-amazon.com/images/M/MV5BYTVjYWJmMWQtYWU4Ni00MWY3LWI2YmMtNTI5MDE0MWVmMmEzL2ltYWdlXkEyXkFqcGdeQXVyMTQxNzMzNDI@.jpg